@import '~bootstrap/scss/bootstrap.scss';


$bg-gradient-start-color: #734b6d;
$bg-gradient-end-color: #42275a;
$bg-table-header-color: #42213c;
$bg-table-text-color: aliceblue;
$bg-btn-success-color: #61926c;


body {
  background: $bg-gradient-end-color;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, $bg-gradient-start-color, $bg-gradient-end-color);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, $bg-gradient-start-color, $bg-gradient-end-color); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Titillium Web', serif !important; 
  font-size: 1.1rem !important;
}

table, .btn {
  background: white;
  -webkit-box-shadow: 0px 2px 12px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 12px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 12px -2px rgba(0,0,0,0.75);
}

table {
  text-align: center;
  thead {
    background : $bg-table-header-color;
    color:$bg-table-text-color;
    tr {
      th {
        border: none !important;
      }
    }
  }
}

.table tbody {
  display: block;
  max-height: 70vh;
  overflow-y: scroll;
}

.table thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.btn {
  border-radius: 50px !important;
  width: 8rem;
}

.btn-success {
  background: $bg-btn-success-color !important;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.modal-dialog {
  .modal-content {
    border-radius: 0;
  }
}