<html>
        <head>
            <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Titillium+Web&display=swap">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <title><%= htmlWebpackPlugin.options.title %></title>
        </head>
        <body>
            <div id="root"></div>
        </body>
</html>
